.container{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.underline-content{
    width: 500px;
    height: 3px;
    background: #065f71;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.subheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 5px;
}

.text-name{
    color: #787879;
    font-size: 36px;
    font-weight: 700;
}

.text-description{
    color: #908e8e;
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
}

.text-username{
    color: #959595;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.text-position{
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.tex-scheme{
    color: #117480;
    font-size: 36px;
    font-weight: 700;
}